body {
   background-color: lightgray; 
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 300% relative ;

}

p {
    font-size: 200%;
    size: relative;
}

strong {
font-size: larger;
color: red;
}

div {
    border: solid;
    padding: 12%;
    border-image-source:url(Cartoon.jfif);
    border-image-width: 100%;
    border-image-slice: 60%;
    box-shadow:20px 20px 25px black;
    width: 60%;
    margin: auto;
    background-color: lightgoldenrodyellow;
    text-align: center;
}